#pytorch
#nvcc
packaging
#flash_attn
einops
transformers==4.33.2
sentencepiece
prompt_toolkit
rich
psutil
accelerate
cpm_kernels
fastapi
uvicorn
httpx
shortuuid
tiktoken
openai
black[jupyter]
numpy
tqdm
#torch==2.0.1
torch==2.1.1
requests
pydantic==1.10
elasticsearch
protobuf
vllm
aiohttp
xformers==0.0.23