#pytorch
#nvcc
packaging
#flash_attn
einops
transformers
sentencepiece
prompt_toolkit
rich
psutil
accelerate
cpm_kernels
fastapi
uvicorn
httpx
shortuuid
tiktoken
openai
black[jupyter]
numpy
tqdm
torch
requests
pydantic==1.10
elasticsearch
